<!DOCTYPE html> 
<html> 
    <head>  
        <title> template</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/template.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
        <style>
             url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
            </style>
    </head>
    <body>
        
        <div class="hero">
            <div class="navbar">
                <div class="logo">
                    <img src="images/logo.png" alt="logo">
                </div>
                <div class="menu">
                    <ul>
                        <li> Home.</li>
                        <li> About us.</li>
                        <li> portfolio.</li>
                        <li> Blog.</li>
                        <li> Contact us.</li>
                    </ul>
                </div>
                <div class="contact">
                    <img src="images/contact us.png" alt="contact us">
                </div> 
                <div class="clear">
                </div>
            </div>
            <div class="title">
                <div class="title1">
                    <h1>The Spirit of Digital Agency.</h1>
                </div>
                <div class="text">
                    <p> Vestibulum ac diam sit amet quam vehicula
                        elementum amet est on dui. Nulla porttitor
                        accumsan tincidunt.
                    </p>
                </div>
                <div class="more">
                    <div class="button">
                        <a href="https://www.google.com/" target="_blank" >more about us </a>
                    </div>
                    <div class="get">
                        <a href="" target="_blank">get in touch. </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="services">
            <div class="title2">
                <p>
                    Anything you need,we've got you covered
                </p>
                <a href="" target="_blank">get in touch. </a>
            </div>
            <div class="service1">
                
                    <div class="icon">
                        <img src="images/Icon.png">
                    </div>
                    <div class="web">
                        <p> 
                            Web & Graphic  Desig
                        </p>
                    </div>
                    <div class="vestibulum">
                        <p>
                            Vestibulum ac diam sit amet quam vehicula 
                            elementum amet est on dui. Nulla porttitor 
                            ac-<br>cumsan tincidunt. 
                        </p>
                    </div>
                
            </div>
            <div class="service2">
                <div class="icon2">
                    <img src="images/webandapp.png">
                </div>
                <div class="web2">
                    <p> 
                        Web & App Development
                    </p>
                </div>
                <div class="vestibulum2">
                    <p>
                        Vestibulum ac diam sit amet quam vehicula elementum 
                        amet est on dui. Nulla porttitor ac-<br>cumsan tincidunt. 
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="about">
            <div class="lampandtext">
                <div class="lampe">
                <img src="images/lampe.png">
                </div>
                <div class="somefine">
                    <div class="our">
                        <p>OUR COMPANY</p>
                    </div>
                    <div class="some">
                        <p>Some Fine
                            Words About Us</p>
                    </div>
                    <div class="parag">
                        <p>Vestibulum ac diam sit amet quam vehicula elementum 
                            amet est on dui. Nulla porttitor accumsan tincidunt.Vestibulum 
                            ac diam sit amet.</p>
                        <p>Quam vehicula elementum amet est on dui. Nulla porttitor ac- cumsan 
                            tincidunt.</p>
                    </div>
                    <div class="arrows">
                        <div class="arrowleft">
                            <img src="images/arrowleft.png">
                        </div>
                        <div class="arrowright">
                            <img src="images/arrowright.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="portfolio">
             
                <div class="see">
                    <p>
                        See some of our Creative work.
                    </p>
                </div>
                <div class="arrows2">
                    <div class="arrowleft2">
                        <img src="images/arrowleft.png">
                    </div>
                    <div class="arrowright2">
                        <img src="images/arrowright.png">
                    </div>
                </div>
            
            <div class="clear"></div>
            <div class="pictures">
                <div class="firstligne">
                    <div class="one">
                        <a href=""><img src="images/picture.png"> </a>
                    </div>
                    <div class="two">
                        <a href=""><img src="images/picture.png"> </a>
                    </div>
                    <div class="three">
                        <a href=""><img src="images/picture.png"> </a> 
                    </div>
                </div>
                <div class="secondligne">
                    <div class="four">
                        <a href=""><img src="images/picture.png"> </a> 
                    </div>
                    <div class="five">
                        <a href=""><img src="images/picture.png"> </a>
                    </div>
                    <div class="six">
                        <a href=""><img src="images/picture.png"> </a> 
                    </div>
                </div>
            </div>
            <div class="seemore">
                <p>
                    See More of These
                </p>
            </div>
        </div>
        <div class="blog">
            <div class="titles">
                <div class="blog">
                    <p>BLOG STORIES</p>
                </div>
                <div class="check">
                    <p>Check Our News</p>
                    
                </div>
                <div class="arrows3">
                    <div class="arrowleft2">
                        <img src="images/arrowleft.png">
                    </div>
                    <div class="arrowright3">
                        <img src="images/arrowright.png">
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="post1">
                <div class="new">
                    <p>New Adventure</p>
                </div>
                <div class="march">
                    <p>
                        17 March 2019
                    </p>
                </div>
                <div class="newtext">
                    <p>
                        Vestibulum ac diam sit amet quam vehicula elementum 
                        amet est on dui. Nulla porttitor ac-cumsan tincidunt.
                    </p>
                </div>
            </div>
            <div class="post2"></div>
            <div class="post3"></div>
        </div>
        <div class="contactus">
            <div class="contactus1">
            <p> CONTACT US</p>
            </div>
            <div class="getintouch">
                <p>
                    Get in Touch
                </p>
            </div>
        </div>
        <div class="contact1">
            <div class="contact2">
                <div class="youremail">
                    <p> Your email</p>
                </div>
                <div class="subject">
                    <p> Subject</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="message">
                <p>Message here...</p>
            </div>
            <div class="button3">
                <img src="images/button3.png">
            </div>
        </div>
        <div class="footer">
            <div class="DOOB">
                <p> DOOB</p>
            </div>
            <div class="creativity">
                <p> CREATIVITY ABOVE</p>
            </div>
            <div class="lastmenu">
                <ul>
                    <li> Home.</li>
                    <li> About us.</li>
                    <li> portfolio.</li>
                    <li> Blog.</li>
                    <li> Contact us.</li>
                </ul>
            </div>
            <div class="allRight">
                <p>  © 2019 - Doob,All Right Reserved</p>
                <div class="icons">
                    <a href=""><img src="images/Facebook.png"></a>
                    <a href=""><img src="images/Twitter.png"></a>
                    <a href=""><img src="images/Dribble.png"> </a>
                </div>
            </div>
            </div>
            
            
        </div>   
    </body>
</html>